@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --pomodoro-bg: #FECFCF;
    --pomodoro-pr: #f0a5a5;
    --pomodoro-sec: #f9cecc;
    --pomodoro-txt: #780b0b;
    --gradient-start: rgba(238,174,202,1);
    --gradient-end: rgba(148,187,233,1);
    --shadow:  #f08989;
}

@media screen and (max-width: 1000px) {
    /* nav {
        background-color: var(--pomodoro-pr);
    } */

    #middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tasks {
        width: 75%;
        margin: 1.5rem;
    }
}

    
    
body{
    /* background: var(--shadow); */
    /* background: linear-gradient(151deg, var(--gradient-start) 0%, var(--gradient-end) 100%); */
    background: linear-gradient(151deg, rgba(206,238,174,1) 0%, rgba(236,174,181,1) 49%, rgba(240,171,140,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}
ul li{
    list-style-type: none;
    width: full;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--pomodoro-pr);
    color: var(--pomodoro-txt);
}

li:hover{
    background-color: var(--shadow);
}

#buttons button:hover{
    background-color: var(--shadow);

}

#add:hover{
    background-color: var(--shadow);
}
#clear:hover{
    background-color: var(--shadow);
}
#nav:hover{
    background-color: var(--shadow);
}

.timer-button:hover{
    background-color:  rgb(225, 108, 108);
}

